<%= render 'horizontal_sidebar'%>
<div id="layoutSidenav">
  <%= render 'vertical_sidebar'%>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Edit User Details</li>
        </ol>
        <div class="jumbotron ">
          <h2>Edit User</h2>
          <%= form_for(@user, url: admins_user_path(@user), html: { method: :put }) do |f| %>
            <%#= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control",readonly: true, placeholder: "Enter email" %>
            </div>
            <div class="form-group">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name,class: "form-control", placeholder: "Enter First Name" %>
            </div>
            <div class="form-group">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name,class: "form-control", placeholder: "Enter Last Name" %>
            </div>
            <div class="form-group">
              <%= f.label :gender %><br />
              <%= select_tag "gender", options_for_select(['M','F']), {name: "gender", class:'custom-select'} %>
            </div>
            <!-- <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>
            <%# end %> -->
            <div class="form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password",class: "form-control", placeholder: "Password" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control", placeholder: "Password" %>
            </div>
           <div class="form-group">
            <%= f.label :security_question %>
            <%= text_field_tag :security_question, security_questions[@user.answer.first.to_i], class: "form-control", disabled: true %>
          </div>
          <div class="form-group">
            <%= f.label :security_answer %>
            <%= f.text_field :answer, class: 'form-control',placeholder: "Answer" %>
          </div>
            <div class="form-group col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <%= f.label :include_job %>
                  <%= text_field_tag :include_job1, "#{f.object.include_job1}", class: 'form-control unique jobs_search_keys' %>
                  <%= text_field_tag :include_job2, "#{f.object.include_job2}", class: 'form-control unique jobs_search_keys' %>
                  <%= text_field_tag :include_job3, "#{f.object.include_job3}", class: 'form-control unique jobs_search_keys' %>
                </div>
                <div class="col-md-6">
                  <%= f.label :dont_include_job %>
                  <%= text_field_tag :not_include_job1, "#{f.object.not_include_job1}", class: 'form-control unique jobs_search_keys' %>
                  <%= text_field_tag :not_include_job2, "#{f.object.not_include_job2}", class: 'form-control unique jobs_search_keys' %>
                  <%= text_field_tag :not_include_job3, "#{f.object.not_include_job3}", class: 'form-control unique jobs_search_keys' %>
                </div>
              </div>
            </div>
            <% if @user.stripe_id.present? %>
              <% plan = get_plan_detail(@user) %>
              <div class="form-group col-md-12">
                <div class="row">
                  <%if plan.present?%>
                    <div class="col-md-6">
                      <h2>Package Information</h2>
                      Type:<%= plan['nickname'] %><br>
                      Price:<%= plan['amount'] %>
                    </div>
                  <%end%>
                  <div class="col-md-6">
                    <h2>Change Package</h2>
                    <table style="width:100%">
                      <tr>
                        <th>Plan Name</th>
                        <th>Amount</th>
                        <th>Currency</th>
                        <th>Select Plan</th>
                      </tr>
                      <% plan_list = list_all_plan %>
                      <%unless plan_list.blank?%>
                        <% plan_list.each do |plan_list| %>
                          <% if plan_list['nickname'] != plan['nickname']%>
                            <tr>
                              <td><%= plan_list['nickname'] %></td>
                              <td><%= plan_list['amount']%></td>
                              <td><%= plan_list['currency']%></td>
                              <td><%= link_to 'Pay', payment_form_path(plan_is: plan['id']), class: "stripe-button btn btn-success" %></td>
                            </tr>
                          <% end %>
                        <% end %>
                      <%end%>
                    </table>
                  </div>
                  <%= link_to 'Unsubscribe', cancel_subscription_path, class: 'btn btn-danger', confirm: 'Are you sure you want to Unsubscribe from this plan?' %>
                </div>
              </div>
            <%end %>
            <div class="form-group">
              <%= f.submit "Update", class: "btn btn-success" %>
            </div>
          <% end %>
          <%= link_to "Back", admins_users_path, class: "btn btn-primary" %>
        </div>
      </div>
    </main>
  </div>
</div>

<script>
   $.validator.addMethod("unique", function(value, element) {
    var parentForm = $(element).closest('form');
    var timeRepeated = 0;
    if (value != '') {
      $(parentForm.find('.jobs_search_keys')).each(function () {
        if ($(this).val() === value) {
          timeRepeated++;
        }
      });
    }
    return timeRepeated === 1 || timeRepeated === 0;
  }, "*Job keys should be unique");


   $(document).ready(function () {
   $(".edit_user").validate({
    rules: {
      'user[email]':{required: true, email: true},
      'user[password]': {minlength: 6},
      'user[password_confirmation]': {equalTo: '#user_password'},
      "user[first_name]" : {required: true},
      "user[last_name]" : {required: true},
      "user[answer]" : {required: true}
    },

    messages: {
      "user[first_name]": "First Name can't be blank",
      "user[last_name]": "Last Name can't be blank",
      "user[email]": {required: "Email can't be blank", email: "You must enter a valid email address"},
      'user[password_confirmation]': {equalTo: "Password don't match"}
    }
   });
  });
</script>
