<%= render 'horizontal_sidebar'%>
<div id="layoutSidenav">
  <%= render 'vertical_sidebar'%>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">You have following plans</li>
        </ol>
        <h1>Email Plans</h1>
        <br>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email Package</th>
              <th>Selected Payment plan</th>
              <th>Price</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @package.each do |package| %>
              <tr>
                <td><%=package.name%></td>
                <td><%=package.interval%></td>
                <td><%= package.plan.name %></td>
                <td>$<%= package.plan.display_price %></td>
                <td><%= link_to 'Edit',admins_edit_email_path(id:package.id) %></td>
               
              </tr>
           <%end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
