<%= render 'horizontal_sidebar'%>
<div id="layoutSidenav">
  <%= render 'vertical_sidebar'%>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">You have following plans</li>
        </ol>
        <h1> Plans</h1>
        <div>
          <%= link_to 'Create Plan', admins_new_plan_path, class: "btn btn-primary" %>
        </div><br>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Plan Name</th>
            <th>Amount</th>
            <th>Currency</th>
            <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @plan.each do |plan| %>
              <tr>
                <td><%= plan['nickname'] %></td>
                <td><%= plan['amount']%></td>
                <td><%= plan['currency']%></td>
                <td><%= link_to 'Edit', admins_edit_plan_path(id: plan.id) %></td>
                <td><%= link_to 'Delete', admins_delete_plan_path(id: plan.id), data: { confirm: "Are you sure you want to cancel your account?" }, method: :delete %></td>
              </tr>
           <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
