<% if @jobs.present? %>
  <h1>You have following jobs</h1>
  <div class="derst">
    <table class="table table-striped">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Company</th>
        <th scope="col">Location</th>
        <th scope="col">Url</th>
        <th scope="col">Date</th>
        <th scope="col">Content</th>
      </tr>
      <% if @jobs.present? %>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= job.title %></td>
            <td><%= job.company %></td>
            <td><%= job.location %></td>
            <td><%= link_to "#{job.url}", "#{job.url}", target: '_blank' %></td>
            <td><%= job.date.strftime('%d.%m.%y') rescue nil %></td>
            <td><%= job.content.truncate(100) rescue nil %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
<% else %>
  <h1>No jobs found!!!</h1>
<% end %>

<% if @jobs.present? %>
  <div class = "digg_pagination" >
    <%= will_paginate @jobs %>
  </div>
<% end %>


 <style>
  th {
    background-color:green;
    color:white;
  }
  th, td {
    width:250px;
    text-align:center;
    border:1px solid black;
    padding:10px
  }
  .derst{
    padding-top: 10px;
  }
</style>
