<%= form_tag('/seacrh_job') do %>
  Website: <input type="text" name="Website" value="">
  Designation: <input type="text" name="Designation" value=""><br>
  Location: <input type="text" name="Location" value=""><br>
  <input type="submit" value="Submit">
<% end %>

<table style="width:100%">
    <tr>
      <th>Title</th>
      <th>Company</th>
      <th>Location</th>
      <th>Url</th>
      <th>Date</th>
      <th>Content</th>
    </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.company %></td>
      <td><%= job.location %></td>
      <td><%= job.url %></td>
      <td><%= job.date.strftime('%d.%m.%y') %></td>
      <td><%= job.content.truncate(100) %></td>
    </tr>
  <% end %>
</table>
<div class = "digg_pagination" >
  <%= will_paginate @jobs %>
</div>


 <style>
    th {
        background-color:green;
        color:white;
    }
    th, td {
        width:250px;
        text-align:center;
        border:1px solid black;
        padding:10px

    }
</style>
