<% if current_user.present? %>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">

      <div class="navbar-header">
        <%= link_to 'JobScrapper', user_dashboard_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Karriere jobs', display_karriere_path, class: "navbar-brand" %><span class="glyphicon glyphicon-user"></span></li>
        <li><%= link_to 'Derstandard jobs', display_derstandard_path, class: "navbar-brand" %><span class="glyphicon glyphicon-user"></span></li>

        <ul class="navbar-nav ml-auto ml-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <%= link_to 'Edit profile', edit_user_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
            </div>
          </li>
        </ul>

      </ul>

    </div>
  </nav>
<% end %>
