<!DOCTYPE html>
<html>
  <head>
    <title>JobScrapper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <% if current_admin.present? %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <% end %>
  </head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <body class= "<%= admin_signed_in? ? 'sb-nav-fixed' : ''%>">
      <% unless user_signed_in? && (params[:controller] != 'admins/sessions' && params[:controller] != 'admins/registrations') %>
        <%= render 'layouts/without_login_header'%>
      <% else %>
        <%= render 'layouts/header_after_login'%>
      <% end %>
      <section class="login_wrapper">
        <div class= "<%= admin_signed_in? ? '' : 'container'%>">

          <% if notice %>
            <p class="alert alert-success <%= admin_signed_in? ? 'admin_flash_msg' : ''%>"><%= notice %><button type="button" class="close" data-dismiss="alert">&times;</button></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger <%= admin_signed_in? ? 'admin_flash_msg' : ''%>"><%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button></p>
          <% end %>

          <%= yield %>
        </div>
      </section>
      <%= render partial: 'layouts/footer'%>
    </body>
</html>

<style>
  .admin_flash_msg{
    padding-left: 234px;
  }
</style>
