<!DOCTYPE html>
<html>
  <head>
    <title>JobScrapper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <body>
      <% unless user_signed_in? %>
        <%= render 'layouts/without_login_header'%>
      <% else %>
        <%= render 'layouts/header_after_login'%>
      <% end %>
      <section class="login_wrapper">
        <div class="container">

          <% if notice %>
            <p class="alert alert-success"><%= notice %><button type="button" class="close" data-dismiss="alert">&times;</button></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button></p>
          <% end %>

          <%= yield %>
        </div>
      </section>
      <%= render partial: 'layouts/footer'%>
    </body>
</html>
